@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600&display=swap');

:root {
  --base-font: 'Kulim Park', sans-serif;
}

h1 {
  color: var(--primary);
  text-align: left;
}

p {
  font-size: 1.1rem;
}
