@import"https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600&display=swap";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: var(--base-font);
    font-size: 1.5em;
    color: var(--text-color);
    overflow: hidden
}

ul {
    list-style: none
}

button {
    cursor: pointer;
    font-family: inherit;
    text-transform: capitalize;
    border: none
}

:root {
    --base-font: "Kulim Park", sans-serif
}

h1 {
    color: var(--primary);
    text-align: left
}

p {
    font-size: 1.1rem
}

:root {
    --bg-color: #f5f6f7;
    --greyLight-1: #eaeff5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --bg-color-dark: #3a3842;
    --greyDark-1: rgba(77, 71, 100, 0.4);
    --greyDark-2: rgba(0, 0, 0, 0.2);
    --text-color: #4a5568;
    --primary-light: #e067a6;
    --primary: #d53f8c;
    --primary-dark: #a10355;
    --white: #ffffff
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--greyLight-1)
}

.app__container {
    height: 650px;
    width: 600px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -0.2rem -0.2rem .5rem var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    overflow-y: auto
}

.app__container__bottom p {
    color: var(--primary);
    font-size: .8rem;
    margin-top: 15px
}

.app__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.app__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0
}

.app__form__input {
    width: 85%;
    height: 2.3rem;
    border: none;
    border-radius: 1rem;
    padding-left: 2.5rem;
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -0.2rem -0.2rem .5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark)
}

.app__form__input::-moz-placeholder {
    color: var(--greyLight-3)
}

.app__form__input:-ms-input-placeholder {
    color: var(--greyLight-3)
}

.app__form__input::placeholder {
    color: var(--greyLight-3)
}

.app__form__input:focus {
    outline: none;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -0.2rem -0.2rem .5rem var(--white);
    transition: .5s ease
}

.app__form__input:focus+.app__form__icon {
    color: var(--primary)
}

.app__form__icon {
    position: absolute;
    font-size: 1rem;
    padding-left: 20px;
    display: flex;
    color: var(--greyLight-3);
    transition: .5s ease
}

.container__content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    margin-bottom: .7rem
}

.container__content__input {
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -0.2rem -0.2rem .5rem var(--white);
    border-radius: 1rem;
    display: flex;
    align-items: center
}

.container__content__input p {
    padding-left: 20px
}

.app__btn {
    width: 3rem;
    height: 2.5rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -0.2rem -0.2rem .5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    border-radius: 1rem;
    background-color: var(--greyLight-1)
}

.app__btn__primary {
    color: var(--greyDark);
    margin-left: 10px
}

.app__btn__primary:hover {
    color: var(--primary)
}

.app__btn__primary:active {
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -0.2rem -0.2rem .5rem var(--white)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0
}

.header__switch input {
    display: none
}

.header__switch__mode {
    width: 5rem
}

.header__switch__mode label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -0.2rem -0.2rem .5rem var(--white);
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
    border-radius: 1.6rem
}

.header__switch__mode label::after {
    content: "";
    position: absolute;
    left: .4rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--greyDark);
    transition: all .4s ease
}

.header__switch__mode label::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
    opacity: 0;
    transition: all .4s ease
}

.header__switch input:checked~label::before {
    opacity: 1
}

.header__switch input:checked~label::after {
    left: 57%;
    background: var(--greyLight-1)
}

.header__ .container__content__input {
    display: flex;
    align-items: center
}

.content__btns {
    display: flex
}

.btn_icon {
    font-size: 1.2rem
}

.update__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(234, 239, 245, .537254902)
}

.update__container__contents {
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -0.2rem -0.2rem .5rem var(--white);
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--greyLight-1)
}

.update__container__header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.close {
    color: var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem
}

#dark.app {
    background: var(--bg-color-dark)
}

#dark.app__container {
    box-shadow: 10px 10px 20px 5px var(--greyDark-2), -10px -10px 20px 5px var(--greyDark-1), -1px -1px 4px 2px var(--greyDark-1)
}

#dark.header__switch__mode label {
    box-shadow: 10px 10px 20px 5px var(--greyDark-2), -10px -10px 20px 5px var(--greyDark-1), -1px -1px 4px 2px var(--greyDark-1)
}

#dark.app__form__input {
    box-shadow: inset 5px 5px 8px 1px var(--greyDark-2), inset -5px -5px 8px 0px var(--greyDark-1), inset -1px -2px 2px 0px var(--greyDark-1);
    color: var(--white)
}

#dark.app__form__input:focus {
    box-shadow: 10px 10px 20px 5px var(--greyDark-2), -10px -10px 20px 5px var(--greyDark-1), -1px -1px 4px 2px var(--greyDark-1)
}

#dark.app__btn {
    box-shadow: 10px 10px 20px 5px var(--greyDark-2), -10px -10px 20px 5px var(--greyDark-1), -1px -1px 4px 2px var(--greyDark-1);
    background-color: var(--bg-color-dark);
    color: var(--primary)
}

#dark.app__btn__primary:active {
    box-shadow: inset 5px 5px 8px 1px var(--greyDark-2), inset -5px -5px 8px 0px var(--greyDark-1), inset -1px -2px 2px 0px var(--greyDark-1)
}

#dark.update__container {
    background: rgba(58, 56, 66, .7647058824)
}

#dark.update__container__contents {
    background: var(--bg-color-dark);
    box-shadow: 10px 10px 20px 5px var(--greyDark-2), -10px -10px 20px 5px var(--greyDark-1), -1px -1px 4px 2px var(--greyDark-1)
}

#dark.update__container__header {
    color: var(--primary)
}

#dark.container__content__input {
    color: var(--greyLight-1)
}

#dark.container__content__input {
    box-shadow: 10px 10px 20px 5px var(--greyDark-2), -10px -10px 20px 5px var(--greyDark-1), -1px -1px 4px 2px var(--greyDark-1)
}

@media screen and (max-width: 480px) {
    .app__container {
        width: 85%;
        height: 80%;
        padding: 20px
    }

    h1 {
        font-size: 1.2em
    }
}