@import"https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600&display=swap";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: var(--base-font);
    font-size: 1.5em;
    color: var(--text-color);
    overflow: hidden
}

ul {
    list-style: none
}

button {
    cursor: pointer;
    font-family: inherit;
    text-transform: capitalize;
    border: none
}

:root {
    --base-font: "Kulim Park", sans-serif
}

h1 {
    color: var(--primary);
    text-align: left
}

p {
    font-size: 1.1rem
}

:root {
    --bg-color: #f5f6f7;
    --greyLight-1: #eaeff5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --bg-color-dark: #3a3842;
    --greyDark-1: rgba(77, 71, 100, 0.4);
    --greyDark-2: rgba(0, 0, 0, 0.2);
    --text-color: #4a5568;
    --primary-light: #e067a6;
    --primary: #d53f8c;
    --primary-dark: #a10355;
    --white: #ffffff
}